* {
    margin: 0;
    box-sizing: border-box;
    /* background-color: #B6CFE2; */
    /* flex: none; */
    font-family: gilroy-regular;
  }
  
  /* accordion */
  
  /* accordion */
  .contact {
    padding: 2rem 4rem;
    background-color: #b6cfe2;
    position: relative;
    z-index: 1;
  }
  
  .vector-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  h1,
  h3 {
    margin: 2rem 1rem;
    text-align: center;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
  }
  
  div .contact-heading {
    margin: 2rem 1rem;
    text-align: center;
  }
  
  h3 {
    margin: 2rem 1rem;
    text-align: start;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
  }
  
  span {
    color: #3a6a95;
  }
  
  .contact-box {
    display: flex;
    align-items: center;
  }
  
  .heading-right {
    margin-left: 12px;
    font-size: 1.5rem;
    background-color: #7496b4;
    color: #fcfcfc;
  }
  
  .contact-left {
    flex-basis: 50%;
    padding: 2rem;
  }
  
  .left-cols p {
    background-color: #ffffff;
    /* height: 60px; */
    width: 85%;
    border-radius: 10px;
    border: 1px solid black;
    /* margin-left: 5px; */
    text-align: left;
    padding: 1rem 2rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
    > span {
      margin-left: auto;
      font-size: 2rem;
    }
  }
  
  .accordian {
    width: 550px;
  }
  
  .arrowIcons {
    color: #423d3d;
  }
  
  /* .item{
      background: #fcfcfc;
      margin-bottom: 5px;
      padding: 10px 20px;
    } */
  
  .title {
    color: #222221;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .content {
    color: #000000;
    max-height: 0;
    width: 460px;
    overflow: hidden;
    background-color: #fff;
    /* transition: all 0.2s linear; */
    font-size: 0.8rem;
    padding: 0;
    border-radius: 10px;
  }
  
  .content.show {
    height: auto;
    /* transition: all 0.2s linear; */
    width: 460px;
    border-radius: 10px;
    max-height: 299px;
    background-color: #fff;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
    font-size: 0.8rem;
    padding: 0.6rem 1.2rem;
  }
  
  .contact-right {
    /* flex-basis: 20%; */
    width: 50%;
    padding: 2rem 3rem;
    border-radius: 10px;
    background-color: #7496b4;
  }
  
  .contact-left h2 {
    font-size: 2rem;
    margin: 3rem;
    padding: 1rem;
    border-radius: 10px;
    font-weight: 600;
    color: #fcfcfc;
  }
  
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  /* .contact-left .left-para{
      font-size: 10px;
      font-weight: 200;
  } */
  
  .contact-right .input-row1,
  .input-row2 {
    display: flex;
    justify-content: space-evenly;
    background-color: #7496b4;
  }
  
  #txtbox {
    font-size: 12pt;
    height: 42px;
    width: 100%;
    outline: none;
    border: none;
    background-color: white;
    padding: 0.7rem 1.5rem;
    border-radius: 8px;
    /* background-color: #FDFCFD; */
    /* border: 1px solid grey; */
  }
  
  #message-txtbox {
    height: 10rem;
    width: 94%;
    margin-top: 1rem;
    background-color: hsl(300, 20%, 99%);
    border-radius: 10px;
    border: none;
    outline: none;
    border: none;
    padding: 1rem 2rem 2rem 1.5rem;
  }
  
  .input-group {
    margin: 20px;
    height: 30px;
  }
  
  .input-group-message {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7496b4;
  }
  
  .container {
    margin-top: 20px;
    margin-left: 10px;
    background-color: #7496b4;
    color: hsl(300, 20%, 99%);
  }
  
  .button button {
    /* height: 200px; */
    text-align: center;
    padding: 1rem 2.2rem;
    margin-top: 20px;
    display: block;
    margin: 1rem auto;
    border: none;
    outline: none;
    background-color: #06d6a0;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  